.nav-selected {
    /* text-shadow: -2px 2px 5px var(--slate-blue); */
    border-bottom: 3px;
    border-style:dotted;
    border-color: rgba(204, 218, 214, 0.835);
    
    color: var(--store-yellow);
    font-weight: bolder;
    /* text-decoration: underline; */
    /* text-decoration-color: rgba(10, 233, 181, 0.8); */
}

.nav-selected:hover {
    color: var(--store-orange);
}