/* Home Page */
.home-title {
    text-align: center;
}

.home-body {
    font-size: 125%;
    text-align: center;
    /* background-color: var(--medium-green); */
    color: var(--slate-blue);
    /* border: 3px solid black; */
    padding: .25rem 2rem;
    margin: .8rem auto;
    max-width: 80%;
    box-shadow: 2px 2px 2px 3px slategray;
}
.home-body a {
    font-weight: bold;
    text-decoration: underline;
}

.home-body__title {
    font-size: 150%;
    color: var(--dark-);
    font-weight: bolder;
    margin: .25rem auto;
}

/* @media (min-width: 600px) {
    .home-wrapper {
        margin: 5rem;
    }
} */

@media (max-width: 650px) {
    .home-wrapper {
        margin: 1rem 1rem;
    }
    .footer__item {
        color: var(--light-green3);
        margin: 0 .6rem;
    }
    .home-body {
        text-align: center;
        padding: .25rem .5rem;
        margin: 0 auto;
    }
}