/* Cart Icon - Badge */

.cart_icon_badge {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-items: center;
    border-radius: 100%;
    bottom: 0.25rem;
    display: flex;
    font-size: 0.8rem;
    font-weight: normal;
    height: 1.2rem;
    justify-content: center;
    line-height: 1;
    min-width: 1.2rem;
    padding-bottom: 1px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    position: absolute;
    right: 0.25rem;
    text-align: center;
    width: auto;
}

@media screen and (max-width: 500px) {
    .cart_icon_badge {
        font-size: 1rem;
        
    }
}
