/* Main Wrappers */

.app {
    min-height: 100vh;
    max-width: 100rem;
    min-width: 8rem;
    margin: 0 auto;
    background-image: url('/speckle_background.bmp');
    background-size: cover;
}

.main {
    padding: 1px;
    min-height: 75vh;
    margin-top: .5rem;
    /* display: flex;
    justify-content: center; */
    /* grid-template-areas: "nav nav nav"
                         "main main main"
                         "main main main"
                         "footer footer footer";
    grid-template-areas: "nav"
                         "main"
                         "main"
                         "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto .1.1rem;
    gap: 5px; */
}
