/* Main Wrappers */

.app {
    min-height: 100vh;
    max-width: 90rem;
    min-width: 8rem;
    margin: 0 auto;
    /* background-image: 
        linear-gradient(
            rgba(var(--medium-blue-rgb), 0.15),
            rgba(var(--slate-blue-rgb), 0.35)
        ),
        url('/speckle_background.bmp'); 
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    */
    background-color: ghostwhite;
}
/* background-image: 
    linear-gradient(
        rgba(var(--dark-blue-rgb), 0.25),
        rgba(var(--dark-green-rgb), 0.25),
        rgba(var(--medium-blue-rgb), 0.25),
        rgba(var(--slate-blue-rgb), 0.25)
    ),
    url('/speckle_background.bmp');
background-repeat: no-repeat; */

.main {
    padding: 1px;
    min-height: 75vh;
    /* margin-top: .5rem; */
    margin-bottom: .5rem;
    /* display: flex;
    justify-content: center; */
    /* grid-template-areas: "nav nav nav"
                         "main main main"
                         "main main main"
                         "footer footer footer";
    grid-template-areas: "nav"
                         "main"
                         "main"
                         "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto .1.1rem;
    gap: 5px; */
}
