.nav-logo {
    width: 6rem;
    height: 6rem;
    background-color: var(--light-grey-2);
    box-shadow: rgba(240, 255, 255, .6) 0 0 .8rem;
    border-radius: 50%;
    padding: .1rem;
    margin-top: .25rem;
}