/* @import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Big+Shoulders+Display:600|Boogaloo|Chewy|Knewave|Love+Ya+Like+A+Sister|Princess+Sofia|Special+Elite&display=swap'); */

.navbar {
    background-color: var(--store-pink);
    color: #36493e;
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 5px solid black; */
}

.nav-item {
    color: var(--light-grey-2);
    font-size: 1.2rem;
    font-weight: 500;
    /* color: var(--dark-green-3); */
    /* font-family: 'Boogaloo', cursive; */
    /* font-family: 'Amatic SC', cursive; */
    /* font-family: 'Love Ya Like A Sister', cursive; */
    /* font-family: 'Chewy', sans-serif; */
    font-family: 'Special Elite', cursive;
}

.nav-item:hover {
    color: yellow;
    cursor: pointer;
}

.nav-header {
    align-items: center;
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    /* max-height: 10rem; */
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    width: 80%;

}

.nav-logo {
    width: 6rem;
    height: 6rem;
    background-color:  rgba(191, 190, 195, 0.8);
    box-shadow: rgba(240, 255, 255, .6) 0 0 .8rem;
    border-radius: 50%;
    padding: .2rem;
}

/* .nav-list a:any-link {
    font-style: normal;    
} */

/* .nav-selected {
    text-decoration: underline;
    font-weight: bolder;
    text-shadow: -2px 2px 5px 4px var(--slate-blue);
} */

.nav-selected:hover {
    color: var(--slate-blue);
}

.nav-title {
    align-content: space-around;
    /* border-bottom: 1px solid rgba(37, 148, 46, 0.5); */
    display: flex;
    flex-direction: row;

    /* font-family: 'Princess Sofia', cursive; */
    /* font-family: 'Knewave', cursive; */
    /* font-family: 'Love Ya Like A Sister', cursive; */
    /* font-family: 'Boogaloo', cursive; */
    /* font-family: 'Chewy', cursive; */
    /* font-family: 'Special Elite', cursive; */
    /* font-family: 'Amatic SC', cursive; */
    /* font-family: 'Big Shoulders Display', cursive;  */
    /* font-family: 'Grandstander', cursive; */
    font-family: 'Londrina Sketch', cursive;
    /* font-size: 1.45rem; */
    font-size: calc(.75rem + 3vmin);
    /* font-style: italic; */
    font-weight: bold;
    letter-spacing: 2px;
}
/* '@' */
.nav-title>h2:first-child {
    align-self: center;
    color: #99BF33;
    font-family: 'Big Shoulders', cursive;
    font-size: medium;
    font-weight: lighter;
}
/* 'BLA' */
.nav-title>h2:nth-child(2) {
    color: var(--light-blue);
    font-weight: bolder;
    padding-left: .1rem;
    letter-spacing: 1px;
    /* font-family: 'Grandstander', cursive; */
    /* font-family: 'Londrina Sketch', cursive */
    
    text-shadow: 0 0 1px rgba(var(--store-pink-rgb),0.8);
}
/* 'illustrations' */
.nav-title>h2:nth-child(3) {
    color: var(--medium-blue);
    /* font-family: 'Princess Sofia', cursive; */
    /* font-family: 'Grandstander', cursive; */
    font-family: 'Londrina Sketch', cursive;
    padding-left: .1rem;
    /* text-shadow: 0 0 8px rgba(var(--light-blue-rgb),0.8); */
}

/* font-family: 'Grandstander', cursive; */
/* font-family: 'Londrina Sketch', cursive */


 /* Note:  below is imported globally in 'src/styles/global.css'  */
/* latin */
/* @font-face {
    font-family: 'Londrina Sketch';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/londrinasketch/v25/c4m41npxGMTnomOHtRU68eIJn8qvXmP4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } */
  /* latin */
  /* @font-face {
    font-family: 'Grandstander';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/grandstander/v17/ga6fawtA-GpSsTWrnNHPCSIMZhhKpFjyNZIQD4G5P3_ctw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } */