/* General Form Styling */
.form_header {
    text-align: center;
    color: rgb(147, 180, 71);
    background-color: rgb(79, 100, 22);
    margin: 1rem 2rem;
    padding: .5rem 0;
}

/* .wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
} */

/* Contact Icons and Links */
.contacts {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding-left: .45rem;
}

.contactItem {
    margin: .25rem 1rem;
}

.contactImg {
    height: 2rem;
    width: 2rem;
    scale: 50%;
    transition: .6s;
}

.contactImg:hover {
    transform: scale(1.5);
    transition-duration: .2s;
}



/* Form Styling */
.contact_body {
    color: darkslategray;
}

.contact_button {
    color: whitesmoke;
}

.contact_form {
    background-color: rgb(61, 61, 98);
    color: whitesmoke;
    margin: 2rem;
    padding: 2rem;
}

.contact_input {
    margin: 1rem 1.5rem;
    padding: 0 2rem;
    border: 2px solid darkblue;
}

.contact_selection {
    padding: .5rem .25rem;
    margin: 0 auto;

}