.carousel {
    display: grid;
    min-width: 40rem;
    grid-template-areas: "left img right";
    grid-template-columns: .5fr 4fr .5fr;
    grid-template-rows: 30rem auto;
    border: 2px solid rgba(252, 255, 238, 0.479);
    background-color: rgba(4, 7, 29, 0.418);
}

.gallery {
    padding: 5rem 10rem;
    margin: 1rem auto;
}

.gallery_item {
    background-color: rgba(233, 235, 222, .4);
    border: 2px solid gray;
    padding: 1px;
}

.gallery_loading {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 10rem;
    padding: 10rem;
    color: black;
    font-size: 2rem;
}

/* Slide Arrows */
.left {
    grid-area: left;
    justify-content: left;
}

.image_slide {
    grid-area: img;
}

.right {
    grid-area: right;
    justify-content: right;
}

.slide_arrow {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: slategray;
    font-size: 3rem;
}

.slide_arrow:hover {
    color: white;
    cursor: pointer;
}