* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Default 20pixels to 1ine-height with default sans-serif font of user’s Browser */
html {
    font: 20px/1 sans-serif;
    background-color: rgba(228, 242, 246, 0.651);
}

/* Main Wrappers */

.app {
    min-height: 100vh;
    max-width: 65rem;
    min-width: 35rem;
    margin: 0 auto;
    
}

.main {
    padding: 1px;
    /* display: flex;
    justify-content: center; */
    /* grid-template-areas: "nav nav nav"
                         "main main main"
                         "main main main"
                         "footer footer footer";
    grid-template-areas: "nav"
                         "main"
                         "main"
                         "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto .1.1rem;
    gap: 5px; */
}

/* Layout Grid Areas */
.footer {
    /* position: absolute;
    bottom: 0; */
    background-color: #333;
    color: #fff;
    text-align: center;
}

.main {
    min-height: 75vh;
}

/* Navbar */
.nav-item {
    color: paleturquoise;
    text-decoration: none;
}

.nav-item:hover {
    color: yellow;
    cursor: pointer;
}

.nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 10rem;
}

.nav-list {
    display: flex;
    flex-direction: row;
    margin-bottom: .50rem;
    list-style: none;
}