@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Big+Shoulders+Display:600|Boogaloo|Chewy|Knewave|Love+Ya+Like+A+Sister|Princess+Sofia|Special+Elite&display=swap');

/* font-family: 'Princess Sofia', cursive;
font-family: 'Knewave', cursive;
font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Boogaloo', cursive;
font-family: 'Chewy', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Big Shoulders Display', cursive; */

/* Main Colors
#99BF33, #B3FF00
rgb(153, 191, 51), rgb(179, 255, 0)
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Default 20pixels to 1ine-height with default sans-serif font of user’s Browser */
html {
    font: 20px/1 sans-serif;
    font-family: 'Amatic SC', cursive;
    background-color: rgba(228, 242, 246, 0.651);

    /****** Variables ******/

    /* Greens */
    --light-green: #d0e64b;
    --light-green2: #cbc65e;
    --light-green3: #e0eba9;
    --light-green4: #c9dbba;
    --mint: #c4f0c5;
    --neon-green: #b3ff00;
    --olive: #98bf33;

    /* Turquoises */
    --turquoise: #b1f1d8;
    --turquoise2: #b1d1c5;

    /* Darker Greens and Blue(s) */
    --medium-green: #84a485;
    --dark-green: #36493e;
    --slate-blue: #767da7;

    /* Box Styles */
    --border-style: 4px solid black;
}

/* Main Wrappers */

.app {
    min-height: 100vh;
    max-width: 100rem;
    min-width: 8rem;
    margin: 0 auto;
    
}

.main {
    padding: 1px;
    min-height: 75vh;
    margin-top: .5rem;
    /* display: flex;
    justify-content: center; */
    /* grid-template-areas: "nav nav nav"
                         "main main main"
                         "main main main"
                         "footer footer footer";
    grid-template-areas: "nav"
                         "main"
                         "main"
                         "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto .1.1rem;
    gap: 5px; */
}

/* Footer */
.footer {
    /* position: absolute;
    bottom: 0; */
    background-color: var(--medium-green);
    border: 4px solid black;
    color: var(--dark-green);
    text-shadow: 2px 2px 5px var(--dark-green);
    text-align: center;
    padding: .5rem 0;
}

.footer__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    text-shadow: none;
}

.footer__list a:any-link {
    font-style: normal;
}

.footer__item {
    color: var(--light-green3);
    margin: 0 1rem;
}

.footer__link {
    color: var(--light-green3);
    text-decoration: underline;
    /* text-decoration: underline; */
}

.footer__link:hover {
    color: var(--neon-green);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--light-green2);
    color: #36493e;
    border: 5px solid black;
}

.nav-item {
    font-size: 1.2rem;
    color: var(--dark-green);
    text-decoration: none;

}

.nav-item:hover {
    color: yellow;
    cursor: pointer;
}

.nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 10rem;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    width: 60%;
}

.nav-list__item {
    margin: .4rem 0; 
}

.nav-logo {
    width: 6rem;
    height: 6rem;
    background-color:  rgba(191, 190, 195, 0.8);
    box-shadow: rgba(240, 255, 255, .6) 0 0 .8rem;
    border-radius: 50%;
    padding: .2rem;
}

.nav-list a:any-link {
    font-style: normal;
}

.nav-selected {
    text-decoration: underline;
    font-weight: bolder;
    text-shadow: -2px 2px 5px var(--slate-blue);
}

.nav-selected:hover {
    color: var(--slate-blue);
}

.nav-title {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    border-bottom: 2px solid rgba(37, 148, 46, 0.5);
    margin: .1rem 0 .2rem;
}

.nav-title>h2:nth-child(n + 2) {
    color: #B3FF00;
    padding-left: .1rem;
}

.nav-title>h2:first-child {
    color: #99BF33;
    font-weight: bolder;
}


/* Home Page */
.home-title {
    text-align: center;
}

.home-body {
    text-align: center;
}

@media (min-width: 600px) {
    .home-wrapper {
        margin: 5rem;
    }
}

@media (max-width: 650px) {
    .home-wrapper {
        margin: 1.5rem 1rem;
    }
    .footer__item {
        color: var(--light-green3);
        margin: 0 .6rem;
    }
}

