
/* Footer */
.footer {
    /* position: absolute;
    bottom: 0; */
    background-color: var(--store-pink);
    /* border: 4px solid black; */
    color: var(--dark-green);
    /* text-shadow: 2px 2px 5px var(--dark-green); */
    text-align: center;
    padding: .25rem 0;
}

.footer__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    text-shadow: none;
}

.footer__list a:any-link {
    font-style: normal;
}

.footer__item {
    color: var(--light-green3);
    margin: 0 1rem;
}

.footer__link {
    color: var(--light-grey);
    text-decoration: underline;
    font-family: 'Knewave';
    /* text-decoration: underline; */
}

.footer__link:hover {
    color: var(--neon-green);
}

@media screen and (max-width: 650px) {
    .footer {
        /* position: absolute;
        bottom: 0; */
        color: var(--dark-green);
        text-shadow: 2px 2px 5px var(--dark-green);
        /* text-align: left; */
        padding: 0.25rem .5rem;
    }

    .footer__item {
        margin: 0 auto;
        font-size: calc(.4rem + 3vmin);
        padding: .2em 0;
        border-bottom: 1px solid rgba(222,222,222,.5);
    }

    .footer__link {
        text-decoration: unset;
    }

    .footer__list {
        align-content:flex-start;
        display: flex;
        flex-direction:column;
        justify-content:left;
        list-style: none;
        text-shadow: none;
    }
}
